#content {
  padding: 4em;
}
.flexbody {
  display: flex;
  justify-content: center;
}
.list {
  list-style: none;
  padding-left: 3em;
  padding-top: 3em;
}
.list li {
  padding-bottom: 3em;
}
@media (max-width:650px) {
  .flexbody {
    display: flex;
    flex-direction: column;
  }
  .list {
    text-align: center;
  }
  #content {
    padding: 1em;
  }
}
