/*I implemented this fold-out hamburger menu using this tutorial: https://www.sitepoint.com/pure-css-off-screen-navigation-menu/
The first thing I did was create new HTML and CSS files for the code in the tutorial
and open them in chrome to see what the output was on my own machine. The HTML was
easy enough to understand but the CSS was complicated so I went through it essentially
line by line, commenting them out and refreshing the browser to see the changes.
I did this so that I could understand what each line accomplished. Then I would
add a comment next to the lines or sections that weren't obvious to remind myself
what each one did, which ones I didn't understand, and which ones were especially
important (see the screenshots). Then I put the put the example HTML sheet next to my
index HTML sheet for this coursework and adjusted my own so that it would work.
I did the same thing with the CSS, I didn't copy paste anything because I thought
actually typing it out would help me understand a little better. Eventually I gave
the menu it's own CSS file because I decided to implement a different style menu
for mobile.*/
.ntop {
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  list-style: none;
  background: rgb(15, 6, 0);
}

.ntop a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: rgb(241, 248, 249);
  font-size: 1.3em;
  text-transform: uppercase;
  transition: color 0.2s, background 0.5s;
}

.ntop a:hover {
  color: #5cbd83;
}

.site-wrap {
  min-width: 100%;
  min-height: 100vh;
  background-color: rgb(241, 248, 249);
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
}

.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  position: fixed;
  left: 2vw;
  top: 2vh;
  z-index: 2;
}

label[for="nav-trigger"] div {
  width: 35px;
  height: 5px;
  background-color: rgb(109, 194, 143);
  margin: 6px 0;
  transition: .7s;
  /*cursor: pointer; why isn't this working ASK MARTIN!!*/
}

.change .bar1 {
  transform: rotate(-405deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(405deg) translate(-8px, -8px);
}

.nav-trigger+label, .site-wrap {
  transition: left 0.4s;
}

.nav-trigger:checked+label {
  left: 17vw;
}

.nav-trigger:checked~.site-wrap {
  left: 15vw;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
