#content {
  display: flex;
  flex-direction: column;
  margin: 3em;
}

.person {
  width: 100%;
  display: flex;
  min-height: 40vh;
  align-items: center;
  justify-content: space-around;
}

.person p {
  max-width: 60%;
}

@media (max-width: 700px) {
  .person {
    display: flex;
    flex-direction: column;
  }
  img {
    order: 1;
  }
  p {
    order: 2;
  }
}
