.regular {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
}

.cflex {
  display: flex;
}
.cbox {
  height: auto;
  min-width: 100px;
}

.goleft {
  margin-left: 20px;
  margin-right: 20px;
}
@media (max-width: 600px) {
  .goright img {
    padding-top: 10vh;
  }
  .regular, .cbox {
    font-size: 1.1em;
  }

}
