body {
  background: linear-gradient(0deg,rgba(58, 199, 251, 0.3),rgba(78, 214, 244, 0.3)), url('earth.jpg'), center;
  font-family: Verdana, Geneva, sans-serif;
}
#about {
  margin: 0 auto;
  background-color: rgba(176, 198, 208, 0.80);
  border-radius: 8px;
  box-shadow: 3px 3px 10px grey;
  width: 600px;
  height: 400px;
  padding: 15px;
  margin-top: 20vh;
  line-height: 1.7em;
  font-size: 1.1em;
  color: rgb(29, 22, 50);
}
#about h1 {
  text-align: center;
}
#start_button {
  background-color: darkcyan;
  border-radius: 3px;
  margin-left: 40%;
  margin-top: 10px;
  cursor: pointer;
  transition: color .5s;
  border: none;
  padding: 14px;
  font-size: 14px;
  color: white;
}
#start_button a {
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  color: black;
}
#start_button:hover {
  color: turquoise;
}
