/* Styling for the landing content -- the about section */
/* Add the background image and overlay, and set the font */
body {
  background:linear-gradient(0deg,rgba(145, 218, 246, 0.53),rgba(145, 218, 246, 0.53)), url('earth.jpg'), center;
  font-family: Verdana, Geneva, sans-serif;
}
/* Styling the about section -- the description of what the app does */
#about {
  margin: 0 auto;
  background-color: rgba(239, 245, 245, 0.8);
  border-radius: 8px;
  box-shadow: 3px 3px 10px grey;
  width: 600px;
  height: 400px;
  padding: 15px;
  margin-top: 20vh;
  line-height: 1.7em;
  font-size: 1.1em;
  color: rgb(29, 22, 50);
}
#about h1 {
  text-align: center;
}
/* Styling the start button */
#start_button {
  background-color: darkcyan;
  border-radius: 3px;
  margin-left: 40%;
  margin-top: 10px;
  cursor: pointer;
  transition: color .5s;
  border: none;
  padding: 14px;
  font-size: 14px;
  color: white;
}
#start_button a {
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  color: black;
}
#start_button:hover {
  color: turquoise;
}
/*Footer*/
footer {
  color: rgb(29, 22, 50);
  font-size: 1.3em;
  text-align: center;
  padding-bottom: 5px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  /*background-color: rgba(176, 198, 208, 0.80);*/
}
footer a {
  text-decoration: none;
  color: rgb(29, 22, 50);
}
footer a:hover {
  color: turquoise;
}
