.all {
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 4em;
  padding-bottom: 1em;
  line-height: 150%;
}

.cflex {
  display: flex;
  margin-top: 10vh;
  align-items: center;
}

.goleft {
  margin-right: 4em;
}

.third {
  margin-top: 10vh;
}
.fourth {
  margin-top: 10vh;
}
@media (max-width: 600px) {
  .first, .cbox, .third, .fourth {
    font-size: 1.1em;
  }
  .all {
    padding: 1em;
  }
}
