.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
  border-top: 5px solid black;
}

.section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.parallax::after {
  content: " ";
  /*this is important but why!? ASK MARTIN*/
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

.static {
  background: snow;
  height: 50vh;
  border-radius: 5px;
  justify-content: space-around;
  flex-direction: column;
  color: rgb(4, 9, 79);
}

.static span {
  padding-left: 2em;
  padding-right: 2em;
  color: rgb(52, 3, 51);
  font-size: 1.3em;
}

.links {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.static a {
  text-transform: uppercase;
  color: rgb(4, 9, 79);
  font-size: 2em;
  text-decoration: none;
}

.section h1 {
  font-size: 5em;
}

.static h4 {
  font-size: 1.1em;
}

.bg1::after {
  background-image: url('images/window.jpg');
  background-size: cover;
}

.bg2::after {
  background-image: url('images/pibil.jpg');
  background-size: cover;
}

.bg3::after {
  background-image: url('images/burritos1.jpg');
  background-size: cover;
}

.bg4::after {
  background-image: url('images/tortas.jpg');
  background-size: cover;
}

.bg5::after {
  background-image: url('images/burger.jpg');
  background-size: cover;
}

.bg6::after {
  background-image: url('images/alltacos.jpg');
  background-size: cover;
}

.bg7::after {
  background-image: url('images/drinks.jpg');
  background-size: cover;
}

.bg8::after {
  background-image: url('images/sign copy.jpg');
  background-size: cover;
}



@media (max-width:800px) {
  .links {
    display: flex;
    flex-direction: column;
  }
  .static {
    font-size: .7em;
  }
  .static span {
    padding: 0;
  }
  .static h3 {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width:600px) {
  .img-holder a {
    position: absolute;
    right: 50%;
    top: 40vh;
    display: ;
  }
}
