body {
  scroll-behavior: smooth;
  font-family: sans-serif;
  overflow-x: hidden;
}

/*hamburger*/

.ntop {
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  list-style: none;
  background: #02181b;
}

.ntop a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  font-size: 1.2em;
  text-transform: uppercase;
  transition: color 0.2s, background 0.5s;
}

.ntop a:hover {
  color: rgb(92, 189, 131);
}

.site-wrap {
  min-width: 100%;
  min-height: 100vh;
  background-color: white;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
}

.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  position: fixed;
  left: 2vw;
  top: 2vh;
  z-index: 2;
}

label[for="nav-trigger"] div {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.2s;
  /*cursor: pointer; why isn't this working ASK MARTIN!!*/
}

.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.nav-trigger+label, .site-wrap {
  transition: left 0.4s;
}

.nav-trigger:checked+label {
  left: 17vw;
}

.nav-trigger:checked~.site-wrap {
  left: 15vw;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Banner*/

/*https://stackoverflow.com/questions/23238108/how-to-add-button-over-image-using-css */

.img-holder a {
  position: absolute;
  top: 2vh;
  right: 2vw;
  padding: 1%;
  /*border-radius: 22px;*/
  text-decoration: none;
  /* Safari - from W3schools */
  transition-duration: 0.4s;
  background-color: #333;
  color: white;
  font-size: 1em;
}

.img-holder a:hover {
  background-color: rgba(83, 164, 116, 0.51);
  color: white;
}

@media (max-width: 600px) {
  .img-holder a {
    display: none;
  }
  .ntop {
    display: none;
  }
}

img.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100vh;
}

/*Footer*/

.nbottom {
  background-color: black;
  /*fix the color, same as top*/
  height: 20vh;
  list-style-type: none;
  color: white;
  font-family: sans-serif;
  width: 100vw;
  border-radius: 5px;
  margin-top: 10vh;
  bottom: 0;
}

.nbottom a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  list-style-type: none;
  text-transform: uppercase;
}

.flexwrap {
  display: flex;
}

.box {
  height: 60px;
  flex-grow: 1;
}

.center {
  text-align: center;
  padding-top: 7vh;
}

.right {
  text-align: right;
  margin-right: 20px;
  padding-top: 6vh;
}

.left {
  margin-left: 20px;
  padding-top: 3vh;
}
