h1 {
  text-align: center;
  color: blue;
}
img.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.p1  {
  float: left;
}
div {
  border: 5px solid black;
  background-color: #aaa;
}
