header {
  background-color: #bbb;
  border: 2px solid blue;
}
h1 {
  text-align: center;
  color: blue;
}
img.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.p1  {
  float: left;
}

#first {
  border: 5px solid black;
  background-color: #aaa;
  float: left;
  width: 66%;
}
aside {
  float:right;
  border: 5px solid black;
  width: 33%;
  background-color: #ccc
}
footer {
  clear: both;
  background-color: #bbb
  border: 2px solid red;
}
