header {
  background-color: #bbb;
  border: 2px solid blue;
}
h1 {
  text-align: center;
  color: blue;
}
img.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.p1  {
  float: left;
}

section {
  float: left;
  width: 66%;
  border: 5px solid black;
  background-color: #aaa;
}
aside {
  float: right;
  width: 33%;
  border: 5px solid black;
  background-color: #ccc;
}
footer {
  clear: both;
  background-color: #bbb;
  border: 2px solid red;
}
