/*Styling for the main content*/
/* Show the previously hidden content after the about section is hidden */
#content {
  display: none;
  margin-top: 0;
}
/* style the headings of the news, weather and scores boxes */
h3 {
  margin: 1px;
}
h4 {
  margin: 0 auto;
}
/*Top Section: City Scores and Weather*/
/* #flexbox1 {
  display: flex;
  justify-content: space-between;
  margin-right: 10vw;
  margin-left: 10vw;
  color: rgb(29, 22, 50);
} */

#cityScores {
  width: 35vw;
  /* display: flex;
  flex-direction: column; */
  background-color: rgba(239, 245, 245, 0.8);
  border-radius: 8px;
  text-align: center;
  line-height: 1.7em;
  margin: auto;
}

/* #weather {
  display: flex;
  flex-direction: column;
  background-color: rgba(239, 245, 245, 0.8);
  border-radius: 8px;
  width: 35vw;
  text-align: center;
  line-height: 1.7em;
} */

/*Middle Section: Total city score, random button, and dropdown*/
#section2 {
  background-color: rgba(239, 245, 245, 0.8);
  margin-left: 5vw;
  margin-right: 5vw;
  border-radius: 8px;
}
#flexbox2 {
  display: flex;
  margin-top: 3vh;
  margin-left: 10vw;
  margin-right: 10vw;
  justify-content: space-between;
  align-items: center;
  color: rgb(29, 22, 50);
}

#cityInfo {
  text-align: center;
  font-size: 2em;
  width: 40vw;
}

#random {
    background-color: darkcyan;
    color: white;
    padding: 14px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    transition: background-color .5s;
    border-radius: 3px;
}
#random:hover {
  background-color: turquoise;
}
#cityDescription {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 3vh;
  border-radius: 6px;
  padding: 10px;
}
/*Bottom Section: Weather and unknown*/
#news {
  margin: 0 auto;
  width: 70vw;
  min-height: 35vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgba(239, 245, 245, 0.8);
  border-radius: 8px;
  text-align: center;
  color: rgb(29, 22, 50);
}

#news a {
  text-decoration: none;
  line-height: 1.5em;
  color: rgb(29, 22, 50);
}
#news a:hover {
  color: darkcyan;
}

/*Media Queries*/
/* Adjusting the font size for smaller screens */
@media (max-width: 600px) {
  body {
    font-size: .7em;
  }
  #flexbox2 {
    margin-left: 1px;
    margin-right: 1px;
  }
}
